*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	background: linear-gradient(180deg, #ffffff 50%, #e7e5e5 100%);
}

.container {
	margin: 0 auto;
	max-width: 550px;
}
